:root{
    --bg-color: #1d8236;
    --border-color: #ebe9e1;
    --card-width: 100px;
    --card-height: 150px;
}

body{
    margin: 0;
    background-color: var(--bg-color);
}


.playground{
    min-height: 100vh;
    padding: 50px;
    display: flex;
    flex-direction: column;
}


header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

/* wrappers styles for pile, store and foundation wrappers*/

.store-wrapper{
    display: flex;
}

.foundation-wrapper{
    display: flex;
}

.pile-wrapper{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    padding: 0 60px;
}


/* components styles (pile, store, foundation) */

.store, .foundation, .pile, .deck{
    width: calc(var(--card-width) - 5px);
    height: calc(var(--card-height) - 5px);
    margin-right: 20px;
    border: 1px solid var(--border-color);
    border-radius: 6px;
}


.foundation:last-child, 
.store:last-child,
.pile:last-child{
    margin-right: 0px;
}


.deck{
    position: absolute;
    bottom: -60px;
    right: 30px;
    margin-right: 0px;
}

.deck.hidden{
    display: none;
}

/* card styles*/

.card{
    position: absolute;
    width: var(--card-width);
    height: var(--card-height);
    cursor: pointer;
    border-radius: 6px;
}


.card.selected{
    filter: drop-shadow(4px 4px 10px hsl(0deg, 0%, 85%));
}


.card{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome, Edge, Opera and Firefox */
}

.flipped-card{
    z-index: 100;
}

/* controllers styles */


.timer{
    margin: 0 10px 0 0 ;
    font-size: 14px;
    color: #fff;
    font-weight: lighter;
    font-family: sans-serif;
}

.options{
    position: fixed;
    top: 10px;
    right: 30px;
    display: flex;
    align-items: center;
}

.controllers{
    display: flex;
}

.controllers button{
    margin-right: 3px;
    cursor: pointer;
    font-size: 13px;
}

.controllers button:last-child{
    margin-right: 0px;
}